body{
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}
#yellow{
    width:100%;
    height: 100px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;+ */
    align-items: center;
}
#first{
    width:25%;
    height: 100px;
    /* display: flex; */
}
#first>img{
    width:35%;
    height: 70px;
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
}
#secoun{
    width: 50%;
    height: 100px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    justify-content: space-around;
}
#third{
    width:25%;
    height: 100px;
}
#third>button{
    width: 250px;
    height: 42px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 27px;
    margin-left: 30px;
    border:2px solid white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: tomato;
}
#third>button:hover{
    background-color: gold;
    border: 2px solid gold;
}
#begin{
    width:100%;
    height: 600px;
    background-image:url('pexel1.jpg');
    display:flex;
    background-repeat: none;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#text{ 
    /* display: flex; */
}
#text>h2{
    font-size: 40px;
    color: cyan;
    font-weight: bold;
}
#text>span{
font-size: 30px;
color:white;
letter-spacing: 1px;
}
#text>button{
    width: 170px;
    height: 40px;
    border:2px solid white;
    border-radius:15px;
    font-weight: bold;
    color: blue;
    font-size: 15px;
    cursor:pointer;
}
#text>button:hover{
    background-color: transparent;
    border: 2px solid transparent;
}
#secound{
    width: 100%;
    height: 450px;
    background-image: url('pexel2.png');
    display: flex;
    background-position: cover;
    background-repeat: none;
    flex-direction: column;
}
#offer{
    width: 100%;
    height: 80px;
    font-size: 35px;
    color:rgb(5, 5, 51);
    text-align: center;
    align-items: center;
    /* margin-left: 40%; */
    font-weight: bold;
    /* display: flex; */
}
#identify{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    align item:center;
}
#design{
    width:60%;
    height: 300px;
    font-size: 28px;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 100px;
    /* font-weight: bold; */
    color: rgb(3, 3, 51);
}
#design>button{
    width: 150px;
    height: 40px;
    background-color: rgb(1, 1, 32);
    color: white;
    border: 2px solidrgb(1,1,32);
    border-radius: 10px;
    align-items: center;
    margin-left: 40px;
    cursor:pointer;
    font-weight: bold;
}
#design>button:hover{
    color:rgb(1,1,32);
    background-color: white;
    border:2px solid gold;
    font-weight: bold;
}
#about{
    width: 40%;
    height: 300px;
    margin-right: 10px;
    margin-top: 50px;
}
#about>img{
    border-radius: 20px;
}
#country{
    width: 100%;
    height: 500px;
    background-color: gray;
    display: flex;
}